# Folder view configuration files
.DS_Store
Desktop.ini
test/.terraform
test/*.tf
test/terraform.tfstate
test/terraform.tfstate.backup

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Compiled Python files
*.pyc

# Compiled C++ files
*.out

# Application specific files
venv
node_modules
.sass-cache
*.iml
